@model PasswordResetRequestModel

<form style="margin: auto; max-width: 400px; border: 1px solid #333333; border-radius: 14px; padding: 24px;" method="post">
    <h1 class="text-center">Password Reset</h1>
    @if (Model.emailSent)
    {
        <div class="col-md-12 alert alert-danger">
            <span>Email with password reset sent to your email account</span>
        </div>
    }
    else
    {
        <!-- Email input -->
        <div class="form-outline mb-6">
            <label class="form-label" for="email" style="font-size: 16px;">Email address</label>
            <input type="email" id="email" class="form-control" name="email" required />
        </div>
        <br>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Reset Password</button>
    }
</form>