@{
    ViewData["Title"] = "Home Page";
}
<div class="green-bg">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="~/Images/home-img.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to Evan Airlines</h1>
                <p class="lead">Your budget friendly airline based out of upstate South Carolina and Southern California</p>
            </div>
        </div>
    </div>
</div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/Images/concorde.jpg" class="d-block mx-lg-auto img-fluid" alt="Concorde" width="700" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Go Supersonic by flying Concorde with us today!</h1>
            <p class="lead">Evan Airlines proudly features the lowest Concorde Prices of all time. Don't miss out on a flight you won't want to forget!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2" asp-area="" asp-controller="Flights" asp-action="Index">See Flights</a>
            </div>
        </div>
    </div>
</div>
