@model PasswordResetModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <h2 class="text-center">@ViewBag.resetStatus</h2>
</div>