@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="~/Images/4e5kz1lf.png" alt="Cookie Monster" height="350">
    <h1 class="display-5 fw-bold text-body-emphasis">@ViewData["Title"]</h1>
    <div class="col-lg-6 mx-auto">
        <p style="font-size: 18px">
            We use cookies to enhance your experience, customize content, and analyze site traffic.
            Cookies are small files stored on your device, enabling us to remember preferences, provide personalized services, and improve functionality.
            By registering for our website, you consent to the use of cookies. You can adjust your browser settings to decline cookies, but you may not be able to login if you do so.
        </p>
    </div>
</div>
