@model UserModel

<form style="margin: auto; max-width: 400px; border: 1px solid #333333; border-radius: 14px; padding: 24px;" method="post">
    <h1 class="text-center">Register</h1>
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span>@TempData["Error"]</span>
        </div>
    }

    <!-- Name input -->
    <div class="form-outline mb-6">
        <label class="form-label" for="UserName" style="font-size: 16px;">Username</label>
        <input type="text" id="UserName" class="form-control" name="UserName" required />
    </div>
    <br>
    <!-- Email input -->
    <div class="form-outline mb-6">
        <label class="form-label" for="Email" style="font-size: 16px;">Email address</label>
        <input type="email" id="Email" class="form-control" name="Email" required />
    </div>
    <br>
    <!-- Password input -->
    <div class="form-outline mb-6">
        <label class="form-label" for="password" style="font-size: 16px;">Create Password</label>
        <input type="password" id="password" class="form-control" name="password" required />
    </div>
    <br>
    <!-- Password input -->
    <div class="form-outline mb-6">
        <label class="form-label" for="confirm_password" style="font-size: 16px;">Confirm Password</label>
        <input type="password" id="confirm_password" class="form-control" name="confirm_password" required />
    </div>
    <br>
    <p>Note: Password must contain at least 6 characters, 1 uppercase, 1 lowercase, and 1 digit. Username may not contain spaces.</p>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>

    <!-- Register button -->
    <div class="text-center">
        <p>Already a member? <a asp-action="" asp-controller="Home" asp-action="Login">Login</a></p>
    </div>
</form>