@model PasswordResetModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <form style="margin: auto; max-width: 400px; border: 1px solid #333333; border-radius: 14px; padding: 24px;" method="post">
        <input type="hidden" asp-for="email" />
        <input type="hidden" asp-for="token" />

        <div class="form-group">
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" class="form-control" asp-for="new_password" required />
        </div>
        <br>
        <p>Remember, password must contain at least 6 characters, 1 uppercase, 1 lowercase, and 1 digit.</p>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>



