@model PasswordResetModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <form method="post">
        <input type="hidden" asp-for="email" />
        <input type="hidden" asp-for="token" />

        <div class="form-group">
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" class="form-control" asp-for="new_password" required />
        </div>

        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>