@model EmployeeModel

<h1>New Employee</h1>

<form style="max-width: 300px;" method="post">
    <div class="form-group">
        <label for="inputPay">Pay</label>
        <input type="text" class="form-control" id="inputPay" name="inputPay">
    </div>
    <br>
    <div class="form-group">
        <label for="inputHours">Hours</label>
        <input type="text" class="form-control" id="inputHours" name="inputHours">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>